In [1]:
import pandas as pd
import mysql.connector
from mysql.connector import Error

# 1. 실시간 팩, 모듈 ,셀 데이터 전송

In [2]:
# CSV 파일을 읽고 데이터프레임으로 변환
df = pd.read_csv('./csv_data/cycles_5_final_dataset.csv')

In [3]:
# NaN 값을 0으로 대체
df.fillna(-1, inplace=True)

In [4]:
df

,BSM-p,BSM-m,BSM-c,Datetime,Voltage-p,Voltage-m,Voltage-c,Current,Temperature-p,Temperature-m,State,Capacity,SOC,SOH,Cycles
0,SN-P10001,SN-M10001,SN-C10001,2023-04-12 19:00:00,381.834779,44.859347,2.968279,145.249960,15.821144,15.001144,1,-1.000000,0.0,-1.000000,1
1,SN-P10001,SN-M10001,SN-C10002,2023-04-12 19:00:00,381.834779,44.859347,3.468279,145.249960,15.821144,15.001144,1,-1.000000,0.0,-1.000000,1
2,SN-P10001,SN-M10001,SN-C10003,2023-04-12 19:00:00,381.834779,44.859347,4.078279,145.249960,15.821144,15.001144,1,-1.000000,0.0,-1.000000,1
3,SN-P10001,SN-M10001,SN-C10004,2023-04-12 19:00:00,381.834779,44.859347,3.578279,145.249960,15.821144,15.001144,1,-1.000000,0.0,-1.000000,1
4,SN-P10001,SN-M10001,SN-C10005,2023-04-12 19:00:00,381.834779,44.859347,3.378279,145.249960,15.821144,15.001144,1,-1.000000,0.0,-1.000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136987,SN-P10001,SN-M10008,SN-C10092,2023-05-16 14:51:00,381.914789,47.309349,4.432446,72.754773,18.385927,18.385927,2,1.834646,0.0,0.988235,5
136988,SN-P10001,SN-M10008,SN-C10093,2023-05-16 14:51:00,381.914789,47.309349,3.952446,72.754773,18.385927,18.385927,2,1.834646,0.0,0.988235,5
136989,SN-P10001,SN-M10008,SN-C10094,2023-05-16 14:51:00,381.914789,47.309349,4.862446,72.754773,18.385927,18.385927,2,1.834646,0.0,0.988235,5
136990,SN-P10001,SN-M10008,SN-C10095,2023-05-16 14:51:00,381.914789,47.309349,4.362446,72.754773,18.385927,18.385927,2,1.834646,0.0,0.988235,5
136991,SN-P10001,SN-M10008,SN-C10096,2023-05-16 14:51:00,381.914789,47.309349,3.702446,72.754773,18.385927,18.385927,2,1.834646,0.0,0.988235,5

In [5]:
# 데이터 중에서 5개만 사용
df = df[(df['Cycles'] == 1)]

In [6]:
df

,BSM-p,BSM-m,BSM-c,Datetime,Voltage-p,Voltage-m,Voltage-c,Current,Temperature-p,Temperature-m,State,Capacity,SOC,SOH,Cycles
0,SN-P10001,SN-M10001,SN-C10001,2023-04-12 19:00:00,381.834779,44.859347,2.968279,145.24996,15.821144,15.001144,1,-1.000000,0.0,-1.0,1
1,SN-P10001,SN-M10001,SN-C10002,2023-04-12 19:00:00,381.834779,44.859347,3.468279,145.24996,15.821144,15.001144,1,-1.000000,0.0,-1.0,1
2,SN-P10001,SN-M10001,SN-C10003,2023-04-12 19:00:00,381.834779,44.859347,4.078279,145.24996,15.821144,15.001144,1,-1.000000,0.0,-1.0,1
3,SN-P10001,SN-M10001,SN-C10004,2023-04-12 19:00:00,381.834779,44.859347,3.578279,145.24996,15.821144,15.001144,1,-1.000000,0.0,-1.0,1
4,SN-P10001,SN-M10001,SN-C10005,2023-04-12 19:00:00,381.834779,44.859347,3.378279,145.24996,15.821144,15.001144,1,-1.000000,0.0,-1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62203,SN-P10001,SN-M10008,SN-C10092,2023-04-18 11:25:00,389.483079,48.255385,4.511282,145.11654,15.274062,15.274062,2,1.856487,0.0,1.0,1
62204,SN-P10001,SN-M10008,SN-C10093,2023-04-18 11:25:00,389.483079,48.255385,4.031282,145.11654,15.274062,15.274062,2,1.856487,0.0,1.0,1
62205,SN-P10001,SN-M10008,SN-C10094,2023-04-18 11:25:00,389.483079,48.255385,4.941282,145.11654,15.274062,15.274062,2,1.856487,0.0,1.0,1
62206,SN-P10001,SN-M10008,SN-C10095,2023-04-18 11:25:00,389.483079,48.255385,4.441282,145.11654,15.274062,15.274062,2,1.856487,0.0,1.0,1
62207,SN-P10001,SN-M10008,SN-C10096,2023-04-18 11:25:00,389.483079,48.255385,3.781282,145.11654,15.274062,15.274062,2,1.856487,0.0,1.0,1

## 데이터 사전 분리

In [7]:
# pack_log 데이터 프레임 생성 및 중복 제거
df_pack_log = df[['BSM-p', 'Voltage-p', 'Current', 'Temperature-p', 'State', 'Capacity', 'SOC', 'SOH', 'Cycles', 'Datetime']]
df_pack_log = df_pack_log.drop_duplicates()

# module_log 데이터 프레임 생성 및 중복 제거
df_module_log = df[['BSM-p', 'BSM-m', 'Voltage-m', 'Temperature-m', 'Datetime']]
df_module_log = df_module_log.drop_duplicates()

# cell_log 데이터 프레임 생성 및 중복 제거
df_cell_log = df[['BSM-m', 'BSM-c', 'Voltage-c', 'Datetime']]
df_cell_log = df_cell_log.drop_duplicates()

In [8]:
df_pack_log.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 275 entries, 0 to 62112
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   BSM-p          275 non-null    object
 1   Voltage-p      275 non-null    float64
 2   Current        275 non-null    float64
 3   Temperature-p  275 non-null    float64
 4   State          275 non-null    int64
 5   Capacity       275 non-null    float64
 6   SOC            275 non-null    float64
 7   SOH            275 non-null    float64
 8   Cycles         275 non-null    int64
 9   Datetime       275 non-null    object
dtypes: float64(6), int64(2), object(2)
memory usage: 23.6+ KB

In [9]:
df_module_log.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2200 entries, 0 to 62196
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   BSM-p          2200 non-null   object
 1   BSM-m          2200 non-null   object
 2   Voltage-m      2200 non-null   float64
 3   Temperature-m  2200 non-null   float64
 4   Datetime       2200 non-null   object
dtypes: float64(2), object(3)
memory usage: 103.1+ KB

In [10]:
df_cell_log.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26400 entries, 0 to 62207
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   BSM-m      26400 non-null  object
 1   BSM-c      26400 non-null  object
 2   Voltage-c  26400 non-null  float64
 3   Datetime   26400 non-null  object
dtypes: float64(1), object(3)
memory usage: 1.0+ MB

### 데이터 mysql에 넣기

In [11]:
# MySQL 접속 정보
host = 'k8e101.p.ssafy.io'
user = 'root'
password = 'P@ssw0rd12'
database = 'sdilink'

In [12]:
# MySQL에 연결
try:
    connection = mysql.connector.connect(host=host, user=user, password=password, database=database, port=3306)
    cursor = connection.cursor()

    for index, row in df_pack_log.iterrows():
        # pack_log 테이블에 데이터 삽입
        pack_log_query = f"""
            INSERT INTO pack_log
            (car_id, pack_code, voltage_p, current, temp_p, status, capacity, soc, soh, cycle, created_at)
            VALUES
            (1, '{row['BSM-p']}', {row['Voltage-p']}, {row['Current']}, {row['Temperature-p']},
             {row['State']}, {row['Capacity']}, {row['SOC']}, {row['SOH']}, {row['Cycles']}, '{row['Datetime']}')
        """
        cursor.execute(pack_log_query)
        connection.commit()

    for index, row in df_module_log.iterrows():
        # module_log 테이블에 데이터 삽입
        module_log_query = f"""
            INSERT INTO module_log
            (pack_log_id, module_code, voltage_m, temp_m, created_at)
            SELECT pl.id, '{row['BSM-m']}', {row['Voltage-m']}, {row['Temperature-m']}, '{row['Datetime']}'
            FROM pack_log AS pl
            WHERE pl.pack_code = '{row['BSM-p']}' AND pl.created_at = '{row['Datetime']}'
        """
        cursor.execute(module_log_query)
        connection.commit()

    for index, row in df_cell_log.iterrows():
        # cell_log 테이블에 데이터 삽입
        cell_log_query = f"""
            INSERT INTO cell_log
            (module_log_id, cell_code, voltage_c, created_at)
            SELECT ml.id, '{row['BSM-c']}', {row['Voltage-c']}, '{row['Datetime']}'
            FROM module_log AS ml
            JOIN pack_log AS pl ON ml.pack_log_id = pl.id
            WHERE ml.module_code = '{row['BSM-m']}' AND ml.created_at = '{row['Datetime']}'
        """
        cursor.execute(cell_log_query)
        connection.commit()

except Error as e:
    print(f"The error '{e}' occurred")

finally:
    if 'cursor' in locals() and cursor is not None:
        cursor.close()
    if 'connection' in locals() and connection is not None:
        connection.close()

KeyError: 'BSM-p'