# 1. 데이터 준비

In [1]:
import os
import datetime
import pandas as pd
import numpy as np
#from scipy.io import loadmat
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
import pickle
#import seaborn as sns
#import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [2]:
fuel_cells_df = pd.read_csv('csv_data/B0005_6_7_18.csv', infer_datetime_format=True)

In [3]:
fuel_cells_df['datetime'] = pd.to_datetime(fuel_cells_df['datetime'])

In [4]:
fuel_cells_df

,cycle,ambient_temperature,datetime,capacity,voltage_measured,current_measured,temperature_measured,current_load,voltage_load,time,flag
0,1,24,2008-04-02 15:25:41,1.856487,4.191492,-0.004902,24.330034,-0.0006,0.000,0.000,1
1,1,24,2008-04-02 15:25:41,1.856487,4.190749,-0.001478,24.325993,-0.0006,4.206,16.781,1
2,1,24,2008-04-02 15:25:41,1.856487,3.974871,-2.012528,24.389085,-1.9982,3.062,35.703,1
3,1,24,2008-04-02 15:25:41,1.856487,3.951717,-2.013979,24.544752,-1.9982,3.030,53.781,1
4,1,24,2008-04-02 15:25:41,1.856487,3.934352,-2.011144,24.731385,-1.9982,3.011,71.922,1
...,...,...,...,...,...,...,...,...,...,...,...
185716,132,24,2008-08-20 08:37:19,1.341051,3.443760,-0.002426,35.383979,0.0006,0.000,2686.359,4
185717,132,24,2008-08-20 08:37:19,1.341051,3.453271,-0.000981,35.179732,0.0006,0.000,2700.546,4
185718,132,24,2008-08-20 08:37:19,1.341051,3.461963,0.000209,34.977000,0.0006,0.000,2714.640,4
185719,132,24,2008-08-20 08:37:19,1.341051,3.469907,0.001516,34.785943,0.0006,0.000,2728.750,4
185720,132,24,2008-08-20 08:37:19,1.341051,3.477277,-0.001940,34.581660,0.0006,0.000,2742.843,4

In [5]:
fuel_cells_df.shape

(185721, 11)

In [6]:
fuel_cells_df.columns

Index(['cycle', 'ambient_temperature', 'datetime', 'capacity',
       'voltage_measured', 'current_measured', 'temperature_measured',
       'current_load', 'voltage_load', 'time', 'flag'],
      dtype='object')

In [7]:
fuel_cells_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185721 entries, 0 to 185720
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   cycle                 185721 non-null  int64
 1   ambient_temperature   185721 non-null  int64
 2   datetime              185721 non-null  datetime64[ns]
 3   capacity              185721 non-null  float64
 4   voltage_measured      185721 non-null  float64
 5   current_measured      185721 non-null  float64
 6   temperature_measured  185721 non-null  float64
 7   current_load          185721 non-null  float64
 8   voltage_load          185721 non-null  float64
 9   time                  185721 non-null  float64
 10  flag                  185721 non-null  int64
dtypes: datetime64[ns](1), float64(7), int64(3)
memory usage: 15.6 MB

### 고유값 확인:

In [8]:
for i in fuel_cells_df.columns:
    print(i, ":" , fuel_cells_df[i].nunique())

cycle : 168
ambient_temperature : 1
datetime : 300
capacity : 636
voltage_measured : 185721
current_measured : 185721
temperature_measured : 185721
current_load : 21
voltage_load : 1835
time : 61903
flag : 4

In [9]:
fuel_cells_df.drop('ambient_temperature', axis = 1, inplace = True)

In [10]:
fuel_cells_df

,cycle,datetime,capacity,voltage_measured,current_measured,temperature_measured,current_load,voltage_load,time,flag
0,1,2008-04-02 15:25:41,1.856487,4.191492,-0.004902,24.330034,-0.0006,0.000,0.000,1
1,1,2008-04-02 15:25:41,1.856487,4.190749,-0.001478,24.325993,-0.0006,4.206,16.781,1
2,1,2008-04-02 15:25:41,1.856487,3.974871,-2.012528,24.389085,-1.9982,3.062,35.703,1
3,1,2008-04-02 15:25:41,1.856487,3.951717,-2.013979,24.544752,-1.9982,3.030,53.781,1
4,1,2008-04-02 15:25:41,1.856487,3.934352,-2.011144,24.731385,-1.9982,3.011,71.922,1
...,...,...,...,...,...,...,...,...,...,...
185716,132,2008-08-20 08:37:19,1.341051,3.443760,-0.002426,35.383979,0.0006,0.000,2686.359,4
185717,132,2008-08-20 08:37:19,1.341051,3.453271,-0.000981,35.179732,0.0006,0.000,2700.546,4
185718,132,2008-08-20 08:37:19,1.341051,3.461963,0.000209,34.977000,0.0006,0.000,2714.640,4
185719,132,2008-08-20 08:37:19,1.341051,3.469907,0.001516,34.785943,0.0006,0.000,2728.750,4
185720,132,2008-08-20 08:37:19,1.341051,3.477277,-0.001940,34.581660,0.0006,0.000,2742.843,4

In [11]:
fuel_cells_df.describe(include=[np.number]).transpose()

,count,mean,std,min,25%,50%,75%,max
cycle,185721.0,82.838758,45.692247,1.000000,45.000000,81.000000,120.000000,168.000000
capacity,185721.0,1.574863,0.190633,1.153818,1.426025,1.559634,1.741850,2.035338
voltage_measured,185721.0,3.497219,0.251691,1.737030,3.377653,3.500859,3.655751,4.233325
current_measured,185721.0,-1.832569,0.561405,-2.029098,-2.011418,-2.009015,-1.989974,0.014306
temperature_measured,185721.0,32.378997,4.027737,22.350256,29.570621,32.355737,35.420677,42.332522
current_load,185721.0,1.465434,1.226874,-2.000000,1.998200,1.998800,1.999000,2.000000
voltage_load,185721.0,2.366494,0.751377,0.000000,2.410000,2.558000,2.718000,4.249000
time,185721.0,1546.379935,906.958628,0.000000,764.797000,1537.031000,2307.485000,3690.234000
flag,185721.0,2.375466,1.073068,1.000000,1.000000,2.000000,3.000000,4.000000

In [12]:
# Missing values:

def missingValue(df):
    #Identifying Missing data.
    total_null = df.isnull().sum().sort_values(ascending = False)
    percent = ((df.isnull().sum()/len(df))*100).sort_values(ascending = False)
    print(f"Total records in our data =  {df.shape[0]} where missing values are as follows:")

    missing_data = pd.concat([total_null,percent.round(2)],axis=1,keys=['Total Missing','In Percent'])
    return missing_data

In [13]:
missing_df = missingValue(fuel_cells_df)
missing_df[missing_df['Total Missing'] > 0]

Total records in our data =  185721 where missing values are as follows:

Empty DataFrame
Columns: [Total Missing, In Percent]
Index: []

In [14]:
fuel_cells_df['datetime'] = fuel_cells_df['datetime'].astype('int64')
fuel_cells_df['datetime'].head()

0    1207149941000000000
1    1207149941000000000
2    1207149941000000000
3    1207149941000000000
4    1207149941000000000
Name: datetime, dtype: int64

In [15]:
# copy before mormalization and after datetime converson to int
fuel_cells_df_copy2 = fuel_cells_df.copy()

In [16]:
cols = ['cycle', 'datetime', 'capacity', 'voltage_measured', 'current_measured',
       'temperature_measured', 'current_load', 'voltage_load', 'time', 'flag']
mm_scaler = MinMaxScaler()

fuel_cells_df[cols] = mm_scaler.fit_transform(fuel_cells_df[cols])
fuel_cells_df.head()

,cycle,datetime,capacity,voltage_measured,current_measured,temperature_measured,current_load,voltage_load,time,flag
0,0.0,0.0,0.797111,0.983242,0.990600,0.099077,0.49985,0.000000,0.000000,0.0
1,0.0,0.0,0.797111,0.982944,0.992276,0.098875,0.49985,0.989880,0.004547,0.0
2,0.0,0.0,0.797111,0.896465,0.008109,0.102032,0.00045,0.720640,0.009675,0.0
3,0.0,0.0,0.797111,0.887189,0.007399,0.109822,0.00045,0.713109,0.014574,0.0
4,0.0,0.0,0.797111,0.880233,0.008787,0.119162,0.00045,0.708637,0.019490,0.0

In [17]:
fuel_cells_df['flag'].unique()

array([0.        , 0.33333333, 0.66666667, 1.        ])

In [28]:
from sklearn.ensemble import IsolationForest

In [19]:
flag_df = pd.DataFrame()
flag_df_final = pd.DataFrame()

In [20]:
fuel_cells_df

,cycle,datetime,capacity,voltage_measured,current_measured,temperature_measured,current_load,voltage_load,time,flag
0,0.000000,0.0,0.797111,0.983242,0.990600,0.099077,0.49985,0.000000,0.000000,0.0
1,0.000000,0.0,0.797111,0.982944,0.992276,0.098875,0.49985,0.989880,0.004547,0.0
2,0.000000,0.0,0.797111,0.896465,0.008109,0.102032,0.00045,0.720640,0.009675,0.0
3,0.000000,0.0,0.797111,0.887189,0.007399,0.109822,0.00045,0.713109,0.014574,0.0
4,0.000000,0.0,0.797111,0.880233,0.008787,0.119162,0.00045,0.708637,0.019490,0.0
...,...,...,...,...,...,...,...,...,...,...
185716,0.784431,1.0,0.212398,0.683705,0.991812,0.652264,0.50015,0.000000,0.727964,1.0
185717,0.784431,1.0,0.212398,0.687515,0.992519,0.642043,0.50015,0.000000,0.731809,1.0
185718,0.784431,1.0,0.212398,0.690997,0.993101,0.631897,0.50015,0.000000,0.735628,1.0
185719,0.784431,1.0,0.212398,0.694180,0.993741,0.622336,0.50015,0.000000,0.739452,1.0
185720,0.784431,1.0,0.212398,0.697132,0.992050,0.612113,0.50015,0.000000,0.743271,1.0

In [21]:
contamination_value = 0.01

# Create a copy of the original DataFrame to avoid modifying it
fuel_cells_df_final = fuel_cells_df.copy()

# Create a variable holding the relevant columns for fitting the model and decision_function
feature_columns = fuel_cells_df.columns.difference(['flag','time','datetime'])

In [22]:
feature_columns

Index(['capacity', 'current_load', 'current_measured', 'cycle',
       'temperature_measured', 'voltage_load', 'voltage_measured'],
      dtype='object')

In [23]:
# Initialize the IsolationForest model with the desired contamination value
model = IsolationForest(n_estimators=200, max_samples='auto', contamination=contamination_value, random_state=42)

In [24]:
# Fit the model with the feature columns
model.fit(fuel_cells_df[feature_columns])

# Predict the anomaly scores and add them to the DataFrame
predictions = model.predict(fuel_cells_df[feature_columns])
fuel_cells_df_final['anomaly_score' + '_' + str(contamination_value)] = predictions

# Compute the decision function scores and add them to the DataFrame
scores = model.decision_function(fuel_cells_df[feature_columns])
fuel_cells_df_final['scores' + '_' + str(contamination_value)] = scores

In [25]:
fuel_cells_df_final

,cycle,datetime,capacity,voltage_measured,current_measured,temperature_measured,current_load,voltage_load,time,flag,anomaly_score_0.01,scores_0.01
0,0.000000,0.0,0.797111,0.983242,0.990600,0.099077,0.49985,0.000000,0.000000,0.0,-1,-0.062486
1,0.000000,0.0,0.797111,0.982944,0.992276,0.098875,0.49985,0.989880,0.004547,0.0,-1,-0.064100
2,0.000000,0.0,0.797111,0.896465,0.008109,0.102032,0.00045,0.720640,0.009675,0.0,1,0.028915
3,0.000000,0.0,0.797111,0.887189,0.007399,0.109822,0.00045,0.713109,0.014574,0.0,1,0.033184
4,0.000000,0.0,0.797111,0.880233,0.008787,0.119162,0.00045,0.708637,0.019490,0.0,1,0.038777
...,...,...,...,...,...,...,...,...,...,...,...,...
185716,0.784431,1.0,0.212398,0.683705,0.991812,0.652264,0.50015,0.000000,0.727964,1.0,1,0.096969
185717,0.784431,1.0,0.212398,0.687515,0.992519,0.642043,0.50015,0.000000,0.731809,1.0,1,0.096580
185718,0.784431,1.0,0.212398,0.690997,0.993101,0.631897,0.50015,0.000000,0.735628,1.0,1,0.089010
185719,0.784431,1.0,0.212398,0.694180,0.993741,0.622336,0.50015,0.000000,0.739452,1.0,1,0.078228
185720,0.784431,1.0,0.212398,0.697132,0.992050,0.612113,0.50015,0.000000,0.743271,1.0,1,0.095388

In [26]:
fuel_cells_df_final['anomaly_score_0.01'].value_counts(ascending= True)

-1      1858
 1    183863
Name: anomaly_score_0.01, dtype: int64

In [27]:
# Save the trained model to a file
with open('isolation_forest_model-0.1.0.pkl', 'wb') as file:
    pickle.dump(model, file)